body{
  background-color: greenyellow;
  text-align: center;
}
h1,h2,h3,h4{
    background-color: red;
}
ul{
        display: table;
        margin: 0 auto;
}
    ol{
        display: table;
            margin: 0 auto;
    }
    img{
        width: 200px; height: 200px;
        border-radius: 50%;
    }
        